*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.conteneur{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, azure, skyblue);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.liste{
    width: 100%;
    max-width: 740px;
    background-color: white;
    padding: 40px 30px 70px;
    border-radius: 14px;
}

.liste h2{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.liste h2 img{
    width: 50px;
}

.colonne-tache{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.colonne-tache input{
    width: 70%;
    margin-right: 2%;
    height: 40px;
    border-radius: 8px;
    padding: 4px 4px 4px 14px;
    border: 1px solid skyblue;
    outline: none;
}

.colonne-tache button{
    width: 25%;
    border-radius: 8px;
    border: none;
    background-color: skyblue;
    color: white;
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
}

ul li{
    list-style: none;
    font-size: 1.1em;
    width: 97%;
    background-color: rgba(135, 206, 235, 0.2);
    margin-bottom: 10px;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

ul li span{
    font-weight: 600;
    font-family: Verdana, sans-serif;
    height: 35px;
    border-radius: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

ul li span:hover{
    background-color: rgba(85, 85, 85, 0.3);
}